<div class="d-flex justify-content-around header p-0">
    <div class="container-image left-image-header my-auto">
        <img src="/assets/Images/Background/camera-147680.svg" alt="camera-left">
    </div>
    <div class="d-flex flex-column align-items-center">
        <div class="pt-5">
            <h1 class="title-header">ReserveTaPlace</h1>
        </div>
        <div class="container-image logo-header">
            <img src="/assets/Images/Background/movie-296751.svg" alt="Image-pellicule">
        </div>
        <div class="pb-5 text-center">
            <h2>Angular mise en place pour ce projet</h2>
        </div>
    </div>
    <div class="container-image right-image-header my-auto">
        <img src="/assets/Images/Background/camera-147680.svg" alt="camera-right">
    </div>
    
</div>
