.header{
    background: radial-gradient(#cccccc, #000000);
    color: white;
    
    .container-image{

        &.logo-header{

            >img{
                width: 150px;
                height: 150px;
            }
        }

        &.left-image-header{

            >img{
                width: 200px;
                height: 200px;
            }
        }

        &.right-image-header{

            >img{
                width: 200px;
                height: 200px;                
            }
        }

    }
}
